{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="google-site-verification" content="rxXHX9mZ7teDuccGubOvtbr_uqTgAfXZkUTgr6Gaae0"/>
    <title>Champagne Philippe de Sorbon</title>
    <meta name="description" content="Présentation et actualité de
la Maison située à Reims. Histoire du domaine, Cuvées, Savoir-faire
et recettes. Vente en direct des celliers.">
{% endblock %}

{% block content %}
    <div class="accueil-slide1">

    </div>
    <div class="container-fluid text-center py-3 segoe">
        <h1 class="fs-14 active font-weight-bold py-1">
        {% if lg == 'fr' %}
            POUR VOTRE SEUL BONHEUR
        {% elseif lg == 'en' %}
            FOR YOUR HAPPINESS
        {% endif %}
        </h1>

        <div class="fs-08 pt-2">
            {% if lg == 'fr' %}
                <p>
                    Aussi loin que je me souvienne, mon enfance a
                    toujours eu pour cadre l’environnement <br>majestueux des
                    vignobles. Enfant, je suivais mon grand-père et ma mère dans
                    les vignes et <br>j’étais fascinée par toute la magie qui entoure
                    le monde chaleureux du Champagne.
                </p>
                <p>
                    Plus tard, mon grand-père m’initia au vocabulaire et à la science des vins.
                </p>
                <p>
                    Pour lui, un Champagne ne se fait pas:<br>
                    il se pense, se crée, s’élabore.<br>
                    Il est le résultat des plus fins assemblages de nos raisins.<br>
                    Il est le fruit de la patience et de l’amour dont nous l’entourons au plus profond de nos caves.<br>
                </p>
                <p>
                    Notre Maison familiale n’a jamais occupé le devant de la scène. Mais elle s’impose,
                    jour après jour, auprès<br>des connaisseurs et cavistes comme éleveur de Champagnes de grande
                    confiance.

                </p>
                <p>
                    Chaque bouteille que nous élaborons pour vous représente plus de 50 ans de passion,<br>
                    d’obstination, de tradition. Elle ne quitte nos caves taillées dans la craie que pour mettre de la
                    joie dans vos cœurs.
                </p>
                <p>
                    C’est là notre plus belle récompense.
                </p>
            {% elseif lg == 'en' %}
                <p>
                    As far as I can remember, my childhood has always been surrounded by the majestic<br>
                    environment of the Champagne's vineyards. As a child, I followed my grandfather and my<br> mother in
                    the vines and was fascinated by the magic that surrounds the Champagne's world.
                </p>
                <p>
                    Later, my grandfather introduced me to the vocabulary and science of wine. </p>
                <p>
                    For him, a Champagne is not made:<br>
                    he thinks himself, creates himself, elaborates himself.<br>
                    It is the result of the finest blends of our grapes.<br>
                    It is the fruit of patience and love that surrounds it in the depths of our cellars.
                </p>
                <p>
                    Our family house has never been in the limelight. But today, she is considered by connoisseurs<br>
                    and wine merchants as a champagne house of great confidence.
                </p>
                <p>
                    Every bottle we make represents more than 50 years of passion, obstinacy, and tradition. It<br>
                    leaves our cellars carved in chalk only to bring joy into your hearts.
                </p>
                <p>
                    This is our greatest reward. </p>
            {% endif %}

        </div>

        <div class="edwardian active py-4 fs-18 w-75 mx-auto">Martine Wallaert-Lathuillière</div>
        </div>


        <div class="accueil-slide2"></div>

        <div class="container website-plan text-center p-5">
            <div class="row">
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('maison') }}">
                            {% if lg == 'fr' %}
                                La Maison
                            {% elseif lg == 'en' %}
                                The House
                            {% endif %}

                        </a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('maison') }}#Histoire">
                                {% if lg == 'fr' %}
                                    HISTOIRE D'UNE PASSION PARTAGEE
                                {% elseif lg == 'en' %}
                                    SPIRIT OF A HOUSE CHARACTERS
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Why">
                                {% if lg == 'fr' %}
                                    POURQUOI PHILIPPE DE SORBON ?
                                {% elseif lg == 'en' %}
                                    ORIGIN OF PHILIPPE DE SORBON ?
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Origines">
                                {% if lg == 'fr' %}
                                    BEGINNING OF THE CHAMPAGNE MYTH
                                {% elseif lg == 'en' %}
                                    ORIGINES DU MYTHE CHAMPAGNE
                                {% endif %}

                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('savoirfaire') }}">
                            {% if lg == 'fr' %}
                                Le Savoir Faire
                            {% elseif lg == 'en' %}
                                The Expertise
                            {% endif %}

                        </a>
                    </div>
                    <div class="fs-1 chapter">

                        <div>
                            <a href="{{ path('savoirfaire') }}#Vendange">
                                {% if lg == 'fr' %}
                                    VENDANGE ET PRESSURAGE
                                {% elseif lg == 'en' %}
                                    HARVEST AND PRESSING
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vinification">
                                {% if lg == 'fr' %}
                                    VINIFICATION
                                {% elseif lg == 'en' %}
                                    WINE MAKING
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Assemblage">
                                {% if lg == 'fr' %}
                                    ASSEMBLAGE
                                {% elseif lg == 'en' %}
                                    ASSEMBLAGE
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vieillissement">
                                {% if lg == 'fr' %}
                                    VIELLISSEMENT SUR LIES
                                {% elseif lg == 'en' %}
                                    MATURATION ON LEES
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Remuage">
                                {% if lg == 'fr' %}
                                    REMUAGE ET DEGORGEMENT
                                {% elseif lg == 'en' %}
                                    SHAKING AND DEGORGING
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Gastronomie">
                                {% if lg == 'fr' %}
                                    PLAISIRS CHAMPENOIS
                                {% elseif lg == 'en' %}
                                    FINE DINNING
                                {% endif %}

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('champagnes') }}">
                            {% if lg == 'fr' %}
                                Les Champagnes
                            {% elseif lg == 'en' %}
                                The Champagnes
                            {% endif %}

                        </a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartedor'}) }}">
                                CARTE D'OR</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartenoire'}) }}">CARTE NOIRE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'perlesderose'}) }}">PERLES DE ROSE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'blancdeblancs'}) }}">BLANCS DE BLANCS</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'millesime2011'}) }}">MILLESIME 2011</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'intemporelle'}) }}">INTEMPORELLE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('vignoble') }}">
                            {% if lg == 'fr' %}
                                Le Vignoble
                            {% elseif lg == 'en' %}
                                The Vineyard
                            {% endif %}

                        </a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('vignoble') }}#VignobleChampenois">
                                {% if lg == 'fr' %}
                                    LE VIGNOBLE CHAMPEGNOIS
                                {% elseif lg == 'en' %}
                                    THE CHAMPAGNE VINEYARD
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vignobles">
                                {% if lg == 'fr' %}
                                    NOS VIGNOBLES
                                {% elseif lg == 'en' %}
                                    OUR VINES
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Cepages">
                                {% if lg == 'fr' %}
                                    LES CEPAGES
                                {% elseif lg == 'en' %}
                                    THE GRAPE VARIETIES
                                {% endif %}
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vigne">
                                {% if lg == 'fr' %}
                                    LA VIGNE
                                {% elseif lg == 'en' %}
                                    THE TILLAGE
                                {% endif %}

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('boutique') }}">
                            {% if lg == 'fr' %}
                                Acheter en ligne
                            {% elseif lg == 'en' %}
                                Shop online
                            {% endif %}

                        </a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('boutique') }}">
                                {% if lg == 'fr' %}
                                    MA CAVE
                                {% elseif lg == 'en' %}
                                    MY CELLAR
                                {% endif %}

                            </a>
                        </div>
                        <div>
                            <a href="{{ path('compte') }}">
                                {% if lg == 'fr' %}
                                    MON COMPTE
                                {% elseif lg == 'en' %}
                                    MY ACCOUNT
                                {% endif %}

                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="my-5 text-center hide-mobile">
            <p class="fs-08">
                {% if lg == 'fr' %}
                    L'abus d'alcool est dangereux pour la santé, à consommer avec modération
                {% elseif lg == 'en' %}
                    Alcohol abuse is harmful to your health, please enjoy responsibly
                {% endif %}
            </p>
        </div>
        <div class="text-center hide-mobile">
            <div>
                <img class="w-25 mb-5" src="{{ asset('ressource/image/accueil/info_alcool_tri.jpg') }}"
                     alt="icons about recycling packages">
            </div>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/accueil.js') }}"></script>
{% endblock %}
