{% extends 'base.html.twig' %}

{% block content %}

    <div class="accueil-slide1">


    </div>


    <div class="container-fluid text-center py-3 segoe">
        <h3 class="fs-09 active">POUR VOTRE SEUL BONHEUR</h3>

        <div class="fs-08">
            <p>
                Aussi loin que je me souvienne, mon enfance a
                toujours eu pour cadre l’environnement <br>majestueux des
                vignobles. Enfant, je suivais mon grand-père et ma mère dans
                les vignes et <br>j’étais fascinée par toute la magie qui entoure
                le monde chaleureux du Champagne.
            </p>
            <p>
                Plus tard, mon grand-père m’initia au vocabulaire et à la science des vins.
            </p>
            <p>
                Pour lui, un Champagne ne se fait pas:<br>
                il se pense, se crée, s’élabore.<br>
                Il est le résultat des plus fins assemblages de nos raisins.<br>
                Il est le fruit de la patience et de l’amour dont nous l’entourons au plus profond de nos caves.<br>
            </p>
            <p>
                Notre Maison familiale n’a jamais occupé le devant de la scène. Mais elle s’impose,
                jour après jour, auprès<br>des connaisseurs et cavistes comme éleveur de Champagnes de grande confiance.

            </p>
            <p>
                Chaque bouteille que nous élaborons pour vous représente plus de 50 ans de passion,<br>
                d’obstination, de tradition. Elle ne quitte nos caves taillées dans la craie que pour mettre de la joie dans vos cœurs.
            </p>
            <p>
                C’est là notre plus belle récompense.
            </p>
        </div>

        <div class="edwardian active my-3 fs-18 w-75 mx-auto">Martine Wallaert-Lathuillière</div>
    </div>


    <div class="accueil-slide2"></div>

    <div class="container website-plan text-center">
        <div class="row">
            <div class="col-md">
                <div class="py-2 fs-18 edwardian">
                    <a class="active" href="{{ path('maison') }}">La Maison</a>
                </div>
                <div class="fs-1 chapter">
                    <div class="py-2">
                        <a href="{{ path('maison') }}#Histoire">HISTOIRE D'UNE PASSION PARTAGEE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('maison') }}#Why">POURQUOI PHILIPPE DE SORBON ?</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('maison') }}#Origines">ORIGINES DU MYTHE CHAMPAGNE</a>
                    </div>
                </div>

            </div>
            <div class="col-md">
                <div class="py-2 fs-18 edwardian">
                    <a class="active" href="{{ path('savoirfaire') }}">Le Savoir Faire</a>
                </div>
                <div class="fs-1 chapter">

                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}#Vendange">VENDANGE ET PRESSURAGE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}#Vinification">VINIFICATION</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}#Assemblage">ASSEMBLAGE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}#Viellissement">VIELLISSEMENT SUR LIES</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}#Remuage">REMUAGE ET DEGORGEMENT</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('savoirfaire') }}">PLAISIRS CHAMPENOIS</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="py-2 fs-18 edwardian">
                    <a class="active" href="{{ path('champagnes') }}">Les Champagnes</a>
                </div>
                <div class="fs-1 chapter">
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">CARTE D'OR</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">CARTE NOIRE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">PERLES DE ROSE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">BLANCS DE BLANCS</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">MILLESIME 2011</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('champagnes') }}">INTEMPORELLE</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="py-2 edwardian fs-18">
                    <a  class="active" href="{{ path('vignoble') }}">Le Vignoble</a>
                </div>
                <div class="fs-1 chapter">
                    <div class="py-2">
                        <a href="{{ path('vignoble') }}#VignobleChampenois">LE VIGNOBLE CHAMPEGNOIS</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('vignoble') }}#Vignobles">NOS VIGNOBLES</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('vignoble') }}#Cepages">LES CEPAGES</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('vignoble') }}#Vigne">LA VIGNE</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="py-2 edwardian fs-18">
                    <a class="active" href="{{ path('boutique') }}">Acheter en ligne</a>
                </div>
                <div class="fs-1 chapter">
                    <div class="py-2">
                        <a href="{{ path('boutique') }}">MA CAVE</a>
                    </div>
                    <div class="py-2">
                        <a href="{{ path('boutique') }}">MON COMPTE</a>
                    </div>
                </div>
            </div>

        </div>

    <div class="my-5">
        <p class="fs-08">
            L'abus d'alcool est dangereux pour la santé, à consommer avec modération
        </p>
    </div>
    <div>
        <div>
            <img class="w-25 mb-5" src="{{ asset('ressource/image/accueil/info_alcool_tri.jpg') }}" alt="icons about recycling packages">
        </div>

    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/accueil.js') }}"></script>
{% endblock %}
