{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="google-site-verification" content="rxXHX9mZ7teDuccGubOvtbr_uqTgAfXZkUTgr6Gaae0"/>
    <title>Champagne Philippe de Sorbon</title>
    <meta name="description" content="Présentation et actualité de
la Maison située à Reims. Histoire du domaine, Cuvées, Savoir-faire
et recettes. Vente en direct des celliers.">
{% endblock %}

{% block content %}
    {% if lg == 'fr' %}
        <div class="accueil-slide1">

        </div>
        <div class="container-fluid text-center py-3 segoe">
            <h1 class="fs-14 active font-weight-bold py-1">
                POUR VOTRE SEUL BONHEUR
            </h1>

            <div class="fs-08 pt-2">
                <p>
                    Aussi loin que je me souvienne, mon enfance a
                    toujours eu pour cadre l’environnement <br>majestueux des
                    vignobles. Enfant, je suivais mon grand-père et ma mère dans
                    les vignes et <br>j’étais fascinée par toute la magie qui entoure
                    le monde chaleureux du Champagne.
                </p>
                <p>
                    Plus tard, mon grand-père m’initia au vocabulaire et à la science des vins.
                </p>
                <p>
                    Pour lui, un Champagne ne se fait pas:<br>
                    il se pense, se crée, s’élabore.<br>
                    Il est le résultat des plus fins assemblages de nos raisins.<br>
                    Il est le fruit de la patience et de l’amour dont nous l’entourons au plus profond de nos caves.<br>
                </p>
                <p>
                    Notre Maison familiale n’a jamais occupé le devant de la scène. Mais elle s’impose,
                    jour après jour, auprès<br>des connaisseurs et cavistes comme éleveur de Champagnes de grande
                    confiance.

                </p>
                <p>
                    Chaque bouteille que nous élaborons pour vous représente plus de 50 ans de passion,<br>
                    d’obstination, de tradition. Elle ne quitte nos caves taillées dans la craie que pour mettre de la
                    joie dans vos cœurs.
                </p>
                <p>
                    C’est là notre plus belle récompense.
                </p>
            </div>

            <div class="edwardian active py-4 fs-18 w-75 mx-auto">Martine Wallaert-Lathuillière</div>
        </div>


        <div class="accueil-slide2"></div>

        <div class="container website-plan text-center p-5">
            <div class="row">
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('maison') }}">La Maison</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('maison') }}#Histoire">HISTOIRE D'UNE PASSION PARTAGEE</a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Why">POURQUOI PHILIPPE DE SORBON ?</a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Origines">ORIGINES DU MYTHE CHAMPAGNE</a>
                        </div>
                    </div>

                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('savoirfaire') }}">Le Savoir Faire</a>
                    </div>
                    <div class="fs-1 chapter">

                        <div>
                            <a href="{{ path('savoirfaire') }}#Vendange">VENDANGE ET PRESSURAGE</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vinification">VINIFICATION</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Assemblage">ASSEMBLAGE</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vieillissement">VIELLISSEMENT SUR LIES</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Remuage">REMUAGE ET DEGORGEMENT</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Gastronomie">PLAISIRS CHAMPENOIS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('champagnes') }}">Les Champagnes</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartedor'}) }}">CARTE D'OR</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartenoire'}) }}">CARTE NOIRE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'perlesderose'}) }}">PERLES DE ROSE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'blancdeblancs'}) }}">BLANCS DE BLANCS</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'millesime2011'}) }}">MILLESIME 2011</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'intemporelle'}) }}">INTEMPORELLE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('vignoble') }}">Le Vignoble</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('vignoble') }}#VignobleChampenois">LE VIGNOBLE CHAMPEGNOIS</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vignobles">NOS VIGNOBLES</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Cepages">LES CEPAGES</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vigne">LA VIGNE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('boutique') }}">Acheter en ligne</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('boutique') }}">MA CAVE</a>
                        </div>
                        <div>
                            <a href="{{ path('compte') }}">MON COMPTE</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="my-5 text-center hide-mobile">
            <p class="fs-08">
                L'abus d'alcool est dangereux pour la santé, à consommer avec modération
            </p>
        </div>
        <div class="text-center hide-mobile">
            <div>
                <img class="w-25 mb-5" src="{{ asset('ressource/image/accueil/info_alcool_tri.jpg') }}"
                     alt="icons about recycling packages">
            </div>

        </div>
    {% elseif lg == 'en' %}
        <div class="accueil-slide1">

        </div>
        <div class="container-fluid text-center py-3 segoe">
            <h1 class="fs-14 active font-weight-bold py-1">
                FOR YOUR HAPPINESS
            </h1>

            <div class="fs-08 pt-2">
                <p>
                    As far as I can remember, my childhood has always been surrounded by the majestic<br>
                    environment of the Champagne's vineyards. As a child, I followed my grandfather and my<br> mother in
                    the vines and was fascinated by the magic that surrounds the Champagne's world.
                </p>
                <p>
                    Later, my grandfather introduced me to the vocabulary and science of wine. </p>
                <p>
                    For him, a Champagne is not made:<br>
                    he thinks himself, creates himself, elaborates himself.<br>
                    It is the result of the finest blends of our grapes.<br>
                    It is the fruit of patience and love that surrounds it in the depths of our cellars.
                </p>
                <p>
                    Our family house has never been in the limelight. But today, she is considered by connoisseurs<br>
                    and wine merchants as a champagne house of great confidence.
                </p>
                <p>
                    Every bottle we make represents more than 50 years of passion, obstinacy, and tradition. It<br>
                    leaves our cellars carved in chalk only to bring joy into your hearts.
                </p>
                <p>
                    This is our greatest reward. </p>
            </div>

            <div class="edwardian active py-4 fs-18 w-75 mx-auto">Martine Wallaert-Lathuillière</div>
        </div>


        <div class="accueil-slide2"></div>

        <div class="container website-plan text-center p-5">
            <div class="row">
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('maison') }}">The House</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('maison') }}#Histoire">SPIRIT OF A HOUSE CHARACTERS</a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Why">ORIGIN OF PHILIPPE DE SORBON ?</a>
                        </div>
                        <div>
                            <a href="{{ path('maison') }}#Origines">BEGINNING OF THE CHAMPAGNE MYTH</a>
                        </div>
                    </div>

                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('savoirfaire') }}">The Expertise</a>
                    </div>
                    <div class="fs-1 chapter">

                        <div>
                            <a href="{{ path('savoirfaire') }}#Vendange">HARVEST AND PRESSING</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vinification">WINE MAKING</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Assemblage">ASSEMBLAGE</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Vieillissement">MATURATION ON LEES</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Remuage">SHAKING AND DEGORGING</a>
                        </div>
                        <div>
                            <a href="{{ path('savoirfaire') }}#Gastronomie">FINE DINNING</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('champagnes') }}">The Champagnes</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartedor'}) }}">CARTE D'OR</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'cartenoire'}) }}">CARTE NOIRE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'perlesderose'}) }}">PERLES DE ROSE</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'blancdeblancs'}) }}">BLANCS DE BLANCS</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'millesime2011'}) }}">MILLESIME 2011</a>
                        </div>
                        <div>
                            <a href="{{ path('champagne_show', {'id' : 'intemporelle'}) }}">INTEMPORELLE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('vignoble') }}">The Vineyard</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('vignoble') }}#VignobleChampenois">THE CHAMPAGNE VINEYARD</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vignobles">OUR VINES</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Cepages">THE GRAPE VARIETIES</a>
                        </div>
                        <div>
                            <a href="{{ path('vignoble') }}#Vigne">THE TILLAGE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="pt-2 pb-2 my-1 fs-18 edwardian title-sitemap">
                        <a class="active" href="{{ path('boutique') }}">Shop online</a>
                    </div>
                    <div class="fs-1 chapter">
                        <div>
                            <a href="{{ path('boutique') }}">MY CELLAR</a>
                        </div>
                        <div>
                            <a href="{{ path('compte') }}">MY ACCOUNT</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="my-5 text-center hide-mobile">
            <p class="fs-08">
                Alcohol abuse is harmful to your health, please enjoy responsibly
            </p>
        </div>
        <div class="text-center hide-mobile">
            <div>
                <img class="w-25 mb-5" src="{{ asset('ressource/image/accueil/info_alcool_tri.jpg') }}"
                     alt="icons about recycling packages">
            </div>

        </div>
    {% endif %}



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/accueil.js') }}"></script>
{% endblock %}
