{% extends 'base.html.twig' %}

{% block content %}
    <div id="get-cart" data-path="{{path('get_cart')}}"></div>
    <div id="add-product" data-path="{{path('add_product')}}"></div>
    <div id="remove-one" data-path="{{path('remove_one_product')}}"></div>
    <div id="remove-all" data-path="{{path('remove_all_products')}}"></div>
    <div style="background-color: black;">
        <div class="py-5 container-fluid" style="background-color: black; display: flex;">
            <div style="width: 55%;" class="text-center">
                <div class="text-white my-5 fs-16 font-weight-bold">Les Classiques</div>
                <div class="row">
                    {% for champagne in champagneClassique %}
                        <div class="col">
                            <div>
                                <a href="{{ path('champagne_show', {'id' : champagne.urlLink}) }}">
                                    <img style="height: 350px;" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="presentation of the bottle or food that can be associated with">
                                </a>
                                <div class="text-white font-weight-bold segoe py-2" style="opacity: 0.8">
                                    {{ champagne.name }}
                                </div>
                                <div class="active font-weight-bold segoe py-2">
                                    {{ champagne.price|number_format(2) }} &euro;
                                </div>
                                <div class="py-2">
                                    <input id="{{ champagne.id }}" class="shop-button" type="button" value="Commander">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="width: 10%;">

            </div>
            <div style="width: 35%;" class="text-center">
                <div class="text-white my-5 fs-16 font-weight-bold">La Collection</div>
                <div class="row">
                    {% for champagne in champagneCollection %}
                        <div class="col">
                            <div>
                                <a href="{{ path('champagne_show', {'id' : champagne.urlLink}) }}">
                                    <img style="height: 350px;" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="presentation of the bottle or food that can be associated with">
                                </a>
                                <div class="text-white font-weight-bold segoe py-2" style="opacity: 0.8">
                                    {{ champagne.name }}
                                </div>
                                <div class="active font-weight-bold segoe py-2">
                                    {{ champagne.price|number_format(2) }} &euro;
                                </div>
                                <div class="py-2">
                                    <input id="{{ champagne.id }}" class="shop-button" type="button" value="Commander">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="boutique-slide1">

    </div>
    <div class="bg-grey-cs-2 text-center">

        <h1 class="edwardian text-white py-3" style="font-size: 3.5em">Votre Panier</h1>
        <div class="container">
            <div id="empty-cart" class="segoe text-white fs-16 text-center" style="display: none;">
                Votre panier est vide
            </div>
            <div id="cart-section">
            <div class="row segoe text-white py-2" style="border-top: 1px solid #CEBB97;border-bottom:  1px solid #CEBB97;">
                <div class="col-3">
                    ARTICLES
                </div>
                <div class="col-3">
                    QUANTITE
                </div>
                <div class="col-2">
                    PRIX
                </div>
                <div class="col-2">
                    PRIX TOTAL
                </div>
                <div class="col-2">
                    SUPPRIMER
                </div>
            </div>
            {% for champagne in champagneClassique %}
            <div id="champagne-{{ champagne.id }}" class="row segoe text-white py-4 middle-div" style="display: none;">
                <div class="col-3" style="display: flex">
                    <div class="w-50">
                        <img style="height: 60px; border: 1px solid black; border-radius: 10px;" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="presentation of the bottle or food that can be associated with">
                    </div>
                    <div style="width:50%;display:flex;justify-content:center;align-items:center;">
                        {{ champagne.name|upper }}
                    </div>
                </div>
                <div class="col-3" style="display: inline-flex; justify-content: space-around">
                    <div class="pointer third-width h-100 remove-one-button" id="{{ champagne.id }}">
                        -
                    </div>
                    <div class="quantity third-width h-100" id="quantity-{{ champagne.id }}">
                    </div>
                    <div class="pointer third-width h-100 add-button" id="{{ champagne.id }}">
                        +
                    </div>
                </div>
                <div class="col-2">
                    <span id="price-{{ champagne.id }}">{{ champagne.price|number_format(2) }}</span> &euro;
                </div>
                <div class="col-2">
                    <span class="total-price" id="total-price-{{ champagne.id }}"></span> &euro;
                </div>
                <div class="col-2 pointer remove-all-button" id="{{ champagne.id }}">
                    X
                </div>
            </div>
            {% endfor %}
            {% for champagne in champagneCollection %}
                <div id="champagne-{{ champagne.id }}" class="row segoe text-white py-4 middle-div shop-animate-all" style="display: none;">
                    <div class="col-3" style="display: flex">
                        <div class="w-50">
                            <img style="height: 60px; border: 1px solid black; border-radius: 10px;" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="presentation of the bottle or food that can be associated with">
                        </div>
                        <div style="width:50%;display:flex;justify-content:center;align-items:center;">
                            {{ champagne.name|upper }}
                        </div>
                    </div>
                    <div class="col-3" style="display: inline-flex; justify-content: space-around">
                        <div class="pointer third-width h-100 remove-one-button" id="{{ champagne.id }}">
                            -
                        </div>
                        <div  class="quantity third-width h-100" id="quantity-{{ champagne.id }}">
                        </div>
                        <div class="pointer third-width h-100 add-button" id="{{ champagne.id }}">
                            +
                        </div>
                    </div>
                    <div class="col-2">
                        <span id="price-{{ champagne.id }}">{{ champagne.price|number_format(2) }}</span> &euro;
                    </div>
                    <div class="col-2">
                        <span class="total-price" id="total-price-{{ champagne.id }}"></span> &euro;
                    </div>
                    <div class="col-2 pointer remove-all-button" id="{{ champagne.id }}">
                        X
                    </div>
                </div>
            {% endfor %}



        </div>
        </div>
    </div>
    <div id="cart-recap" style="background-color: black">
        <div class="container p-3">
            <div class="row segoe text-white py-2">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
                <div class="col-2">

                </div>
                <div class="col-2 text-center">
                    <div class="segoe fs-1">SOUS-TOTAL</div>
                    <div class="segoe fs-08" style="opacity: 0.5;">TVA INCLUSE 20%</div>
                    <div class="segoe fs-1">FRAIS DE LIVRAISON</div>
                </div>
                <div class="col-2 text-center">
                    <div class="segoe fs-1"><span id="sous-total"></span> &euro;</div>
                    <div class="segoe fs-08" style="opacity: 0;">void</div>
                    <div class="segoe fs-1"><span id="livraison">0,00</span> &euro;</div>
                </div>
            </div>
            <div class="row segoe text-white py-2" style="border-top: 1px solid dimgrey; border-bottom: 1px solid dimgrey">
                <div class="col-3">

                </div>
                <div class="col-3">

                </div>
                <div class="col-2">

                </div>
                <div class="col-2 text-center">
                    <div class="segoe fs-1">TOTAL</div>
                </div>
                <div class="col-2 text-center">
                    <div class="segoe fs-1"><span id="total-all"></span> &euro;</div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/boutique.js') }}"></script>
{% endblock %}