{% extends 'base.html.twig' %}

{% block content %}


    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo1  }} ');">

    </div>
    <nav id="champagnes-nav" class="sticky-nav-sec z-index-nav-sec">
        <ul class="champagnes-list justify-content-around m-0">
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'cartenoire'}) }}">Carte Noire</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'cartedor'}) }}">Carte d'Or</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'perlesderose'}) }}">Perles de Rosé</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'blancdeblancs'}) }}">Blanc de Blancs</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'intemporelle'}) }}">Intemporelle</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 'millesime2011'}) }}">Millésime 2011</a></li>
        </ul>
    </nav>
    <div class="container text-center py-5">
        <h1 class="segoe active p-2 fs-2">{{ champagne.name|upper }}</h1>
        <h2 class="edwardian active p-2 fs-18">{{ champagne.subtitle1 }}</h2>
        <p class="p-2 fs-1">
            {{ champagne.presentation1|nl2br }}
        </p>
    </div>
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo2  }} ');">

    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md text-center">
                <h3 class="active segoe fs-12">{{ champagne.subtitle21|upper }}</h3>
                <p class="segoe fs-1">
                    {{ champagne.presentation21|nl2br }}
                </p>
            </div>
            {% if champagne.subtitle22 or champagne.presentation22 %}
            <div class="col-12 col-md text-center">
                {% if champagne.subtitle22|upper %}
                <h3 class="active segoe fs-12">{{ champagne.subtitle22|upper }}</h3>
                {% endif %}
                {% if champagne.subtitle22|upper %}
                <p class="segoe fs-1">
                    {{ champagne.presentation22|nl2br }}
                </p>
                {% endif %}
            </div>
            {% endif %}
            {% if champagne.subtitle23 or champagne.presentation23 %}
            <div class="col-12 col-md text-center">
                {% if champagne.subtitle23|upper %}
                <h3 class="active segoe fs-12">{{ champagne.subtitle23|upper }}</h3>
                {% endif %}
                {% if champagne.subtitle23|upper %}
                    <p class="segoe fs-1">
                        {{ champagne.presentation23|nl2br }}
                    </p>
                {% endif %}
            </div>
            {% endif %}
        </div>


        {% if champagne.subtitle3 %}
        <div class="text-center pt-4">
            <span class="segoe active fs-12 font-weight-bold">{{ champagne.subtitle3|upper }}</span>
        </div>
        {% endif %}
    </div>
    {% if champagne.photo3 %}
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo3  }} ');">

    </div>
    {% endif %}

    {% if champagne.subtitle4 or champagne.presentation4 or champagne.photoParagraph1 %}
    <div class="container py-5">
        <div class="row">
            {% if champagne.subtitle4 or champagne.presentation4 %}
            <div class="col-12 col-md text-center">
                <div>
                    {% if champagne.subtitle4 %}
                    <h3 class="segoe active fs-12">{{ champagne.subtitle4|upper }}</h3>
                    {% endif %}
                    {% if champagne.presentation4 %}
                    <p class="segoe fs-1">
                        {{ champagne.presentation4|nl2br }}
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if champagne.photoParagraph1 %}
                <div class="col-12 col-md text-center">
                    <img style="width: 20vw; border-radius: 20px;" src="{{ asset("ressource/uploads/") ~ champagne.photoParagraph1  }} " alt="photo to illustrate the paragraph next to this one">
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if champagne.photo4 %}
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo4  }} ');">

    </div>
    {% endif %}


    {% if champagne.subtitle5 or champagne.presentation5 or champagne.photoParagraph2 %}
    <div class="container py-5 my-2">
        <div class="row">
            {% if champagne.subtitle5 or champagne.presentation5 %}
            <div class="col-12 col-md  text-center">
                <div class="">
                    {% if champagne.subtitle5 %}
                    <h3 class="segoe active fs-12">{{ champagne.subtitle5|upper }}</h3>
                    {% endif %}
                    {% if champagne.presentation5 %}
                    <p class="segoe fs-1">
                        {{ champagne.presentation5|nl2br }}
                    </p>
                    {% endif %}
                </div>
            {% endif %}
            </div>
            {% if champagne.photoParagraph2 %}
            <div class="col-12 col-md text-center">
                    <img style="width: 20vw; border-radius: 20px;" src="{{ asset("ressource/uploads/") ~ champagne.photoParagraph2  }} " alt="photo to illustrate the paragraph next to this one">
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div>
        {{ render(controller(
            'App\\Controller\\DefaultController::showBottles'
        )) }}
    </div>


{% endblock %}
