{% extends 'base.html.twig' %}

{% block content %}
    <div class="champagnes-slide1"></div>
    <nav id="champagnes-nav" class="sticky-nav-sec z-index-nav-sec">
        <ul class="champagnes-list justify-content-around">
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 4}) }}">Carte Noire</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 7}) }}">Carte d'Or</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 9}) }}">Perles de Rosé</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 8}) }}">Blanc de Blancs</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 6}) }}">Intemporelle</a></li>
            <li class="px-3"><a href="{{ path('champagne_show', {'id' : 5}) }}">Millesime 2011</a></li>
        </ul>
    </nav>
    <div class="container text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-08">

            "IL EST DIFFICILE DE NE PAS DECRIRE AVEC ENTHOUSIASME
            CE QUE L’ON ELABORE AVEC AMOUR"
        </div>
        <div class="edwardian active my-3 fs-12 w-75 ml-auto">Martine Wallaert</div>

    </div>
    <div style="height: 500px; background-color: black;" class="relpos">
        <div class="w-50 text-center text-white m-auto segoe center-div">
            <h2>CATALOGUE EN COURS DE DEVELOPPEMENT</h2>

        </div>

    </div>
    <div class="container text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-08">

            "QUI BOIT DU CHAMPAGNE ACQUIERT UN SUPPLEMENT D'AME"
        </div>
        <div class="edwardian active my-3 fs-12 w-75 ml-auto">Madame de Pompadour</div>

    </div>
    <div class="champagnes-slide2">


    </div>

{% endblock %}