{% extends 'base.html.twig' %}

{% block content %}

    {#<img src="{{ asset("ressource/uploads/") ~ champagne.photo1  }} ">#}
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo1  }} ');">

    </div>
    <div class="container text-center m-5">
        <h3 class="segoe active">{{ champagne.title1 }}</h3>
        <h4 class="edwardian active">{{ champagne.subtitle1 }}</h4>
        <p>
            {{ champagne.presentation1 }}
        </p>
    </div>
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo2  }} ');">

    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <h5 class="active segoe">{{ champagne.subtitle21 }}</h5>
                <p class="segoe">
                    {{ champagne.presentation21|nl2br }}
                </p>
            </div>
            {% if champagne.subtitle22 %}
            <div class="col text-center">
                <h5 class="active segoe">{{ champagne.subtitle22 }}</h5>
                <p class="segoe">
                    {{ champagne.presentation22|nl2br }}
                </p>
            </div>
            {% endif %}
            {% if champagne.subtitle23 %}
            <div class="col text-center">
                <h5 class="active segoe">{{ champagne.subtitle23 }}</h5>
                <p class="segoe">
                    {{ champagne.presentation23|nl2br }}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="bg-without-url" style="background-image:url('{{ asset("ressource/uploads/") ~ champagne.photo3  }} ');">

    </div>

    <div class="container my-5">

        <div class="row">
            <div class="col-lg-8 relpos">
                <div class="center-div">
                    <h5 class="segoe active">{{ champagne.subtitle4 }}</h5>
                    <p class="segoe">
                        {{ champagne.presentation4|nl2br }}
                    </p>
                </div>

            </div>
            <div class="col-lg-4">
                <img style="width: auto; height: auto;" src="{{ asset('ressource/image/champagnes/food.png') }}">
            </div>
        </div>

    </div>


{% endblock %}
