{% extends 'base.html.twig' %}

{% block content %}
    <div class="checkout-bg text-center p-5">
        <div class="checkout-container container bg-white m-auto" style="border: 1px solid black; width: 50%; height: 50%;">
            <h1 class="edwardian fs-18 active">Votre commande</h1>
            <p>
                Total à régler : {{ total }} &euro;<br>
            </p>
            <div class="container">
                <div class="row py-5">
                    <div class="col-12 col-md-6 text-center fact-address">
                        <h2 class="edwardian fs-15">Adresse de facturation</h2>
                        <div>
                            <div class="py-5">
                                <div>{{ user.firstName }} {{ user.lastName }}</div>
                                <div>{{ user.addressStreet }}</div>
                                <div>{{ user.addressZipCode }}</div>
                                <div>{{ user.addressCity }}</div>
                                <div>{{ user.addressCountry }}</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center del-address">
                        <h2 class="edwardian fs-15">Adresse de livraison</h2>
                        <p>
                            {{ form_start(form) }}
                            {{ form_row(form.addressNameDelivery) }}
                            {{ form_row(form.addressStreetDelivery) }}
                            {{ form_row(form.addressZipCodeDelivery) }}
                            {{ form_row(form.addressCityDelivery) }}
                            {{ form_row(form.addressCountryDelivery) }}
                        </p>
                    </div>

                </div>
                <a href="{{ path('change_infos') }}">Modifier addresse de facturation</a>

            </div>
            <p>
                Veuillez choisir votre mode de paiement :
            </p>

            <div class="w-50 text-center m-auto payment">{{ form_row(form.paymentMethod) }}</div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
