{% extends 'base.html.twig' %}

{% block content %}
    <div class="checkout-bg p-5">
        <div class="checkout-container container bg-white m-auto p-3" style="border: 1px solid black; width: 50%; height: 50%;">
            <div class="text-center">
            <h1 class="edwardian fs-18 active">Votre commande</h1>
            <p>
                {% for line in content %}
                {{ line }} <br>
                {% endfor %}<br>
                Total à régler : {{ total }} &euro;<br>
            </p>
            <div class="container">
                <div class="row py-2">
                    <div class="col-12 col-md-6 text-center fact-address">
                        <h2 class="edwardian fs-17">Adresse de facturation</h2>
                        <div>
                            <div class="py-5">
                                <div>{{ user.firstName }} {{ user.lastName }}</div>
                                <div>{{ user.addressStreet }}</div>
                                <div>{{ user.addressZipCode }}</div>
                                <div>{{ user.addressCity }}</div>
                                <div>{{ user.addressCountry }}</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 text-center del-address">
                        <h2 class="edwardian fs-17">Adresse de livraison</h2>
                        <p>
                            {{ form_start(form) }}
                            {{ form_row(form.addressNameDelivery) }}
                            {{ form_row(form.addressStreetDelivery) }}
                            {{ form_row(form.addressZipCodeDelivery) }}
                            {{ form_row(form.addressCityDelivery) }}
                            {{ form_row(form.addressCountryDelivery) }}
                        </p>
                    </div>

                </div>

            </div>
            </div>
            <div class="p-3">
                <div class="text-center">
                    <a href="{{ path('change_infos') }}">Modifier addresse de facturation</a><br><br>
                    <p class="fs-1">
                        Délais de livraison :<br><br>
                        - pour la France Métropolitaine, compter approximativement<br>une semaine.<br>
                        - pour la France extra-Métropolitaine ou pays étrangers,<br>le service vous contactera par courriel ou téléphone<br><br>
                        Veuillez choisir votre mode de paiement :
                    </p>
                </div>

            </div>


            <div class="w-50 text-center m-auto payment">{{ form_row(form.paymentMethod) }}
                {{ form_end(form) }}
            </div>



        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
