{% extends 'base.html.twig' %}

{% block content %}
    <div class="checkout-bg py-5">
        <div class="checkout-container container bg-white m-auto p-3">
            <div class="text-center">
                <h1 class="edwardian fs-2 active">Votre commande</h1>
                {% if errors is defined %}
                {% for error in errors %}
                <div class="alert alert-danger fs-1" role="alert">
                    {{ error.message }}
                </div>
                {% endfor %}
                {% endif %}
                {% if orderCanceled == true %}
                        <div class="alert alert-danger" role="alert">
                            <p class="fs-1">Votre commande a été annulée,<br>
                                ou bien votre virement a été refusé.<br>
                                Veuillez réessayer
                            </p>
                        </div>
                {% endif %}
                <p class="fs-12">
                    {% for line in content %}
                    {{ line }} <br>
                    {% endfor %}<br>
                    Total à régler : {{ total|number_format(2) }} &euro;<br>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                </p>
            </div>

            <div class="container">
                <div class="row py-2">
                    <div class="col-6 text-center fact-address">
                        <h2 class="edwardian fs-17">Adresse de facturation</h2>
                        <p>
                            {{ form_row(form.addressNameFact) }}
                            {{ form_row(form.addressStreetFact) }}
                            {{ form_row(form.addressZipCodeFact) }}
                            {{ form_row(form.addressCityFact) }}
                            {{ form_row(form.addressCountryFact) }}
                            {{ form_row(form.telFact) }}
                        </p>



                    </div>
                    <div class="col-6 text-center del-address">
                        <h2 class="edwardian fs-17">Adresse de livraison</h2>
                        <p>
                            {{ form_row(form.addressNameDelivery) }}
                            {{ form_row(form.addressStreetDelivery) }}
                            {{ form_row(form.addressZipCodeDelivery) }}
                            {{ form_row(form.addressCityDelivery) }}
                            {{ form_row(form.addressCountryDelivery) }}
                            {{ form_row(form.telDelivery) }}
                        </p>
                    </div>

                </div>
                <div class="row py-2 text-center">
                    <div class="col-12 col-sm-6">
                        <p class="fs-12">
                            Informations de livraison :<br><br>
                            - pour la France Métropolitaine, compter approximativement une semaine.<br>
                            - pour la France extra-métropolitaine et export,<br> nous contacter pour le coût du port et les taxes.<br>
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="fs-12">
                            Date de livraison désirée (min. 7 jours) :
                        </p>
                        {{ form_row(form.dateDelivery) }}
                        <p class="fs-12">
                            Commentaire :
                        </p>
                        {{ form_row(form.buyerComment) }}
                    </div>

                </div>

            </div>


            <div class="w-50 text-center m-auto payment">{{ form_row(form.paymentMethod) }}
                {{ form_end(form) }}
            </div>



        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
