{% extends 'base.html.twig' %}

{% block content %}
<div class="container text-center py-3" style="min-height: calc(100vh - 300px);">
    <h1 class="edwardian active" style="font-size: 4vw">Mon compte</h1>
    {% if success is defined %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <div class="row text-center">

        <div class="col-md-6 col-12">
            <h2 class="fs-2 edwardian">Informations</h2>
            <div style="display: flex; justify-content: space-around">
                <div>
                    <p>
                        <span class="edwardian fs-18">Nom</span>
                    </p>
                    <p class="fs-1">
                        {{ user.civility }} {{ user.firstName }} {{ user.lastName }}
                    </p>
                </div>
                <div>
                    <p>
                        <span class="edwardian fs-18">Addresse de facturation</span>
                    </p>
                    <p class="fs-1">
                        {{ user.addressStreet }}<br>
                        {{ user.addressZipCode }} {{ user.addressCity }}<br>
                        {{ user.addressCountry }}
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-12">

                <h2 class="fs-2 edwardian">Actions</h2>
                <div class="account-button-container">
                    <div>
                        <a href="{{ path('change_infos') }}">
                            <button type="button" class="btn btn-dark my-2">
                                Modifier les informations
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('change_password') }}">
                            <button type="button" class="btn btn-dark my-2">
                                Changer mon mot de passe
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('my_orders') }}">
                            <button type="button" class="btn btn-dark my-2">
                                Mes commandes
                            </button>
                        </a>
                    </div>
               </div>




        </div>

    </div>



</div>


{% endblock %}

{% block javascripts %}

{% endblock %}
