{% extends 'base.html.twig' %}

{% block meta %}
<title>Mon Compte</title>
<meta name="description" content="Créez votre compte ou connectez vous">
{% endblock %}

{% block content %}
<div class="container text-center py-3" style="min-height: calc(100vh - 300px);">
    <h1 class="edwardian active" style="font-size: 4vw">
        {% if lg == 'fr' %}
            Mon compte
        {% elseif lg == 'en' %}
            My account
        {% endif %}

    </h1>
    {% if success is defined %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <div class="row text-center">

        <div class="col-md-6 col-12">
            <h2 class="edwardian" style="font-size: 3vw">
                {% if lg == 'fr' %}
                    Informations
                {% elseif lg == 'en' %}
                    Informations
                {% endif %}
            </h2>
            <div style="display: flex; justify-content: space-around">
                <div>
                    <p>
                        <span class="edwardian fs-2">
                            {% if lg == 'fr' %}
                                Nom
                            {% elseif lg == 'en' %}
                                Name
                            {% endif %}

                        </span>
                    </p>
                    <p class="fs-1">
                        {{ user.civility }} {{ user.firstName }} {{ user.lastName }}
                    </p>
                </div>
                <div>
                    <p>
                        <span class="edwardian fs-2">
                            {% if lg == 'fr' %}
                                Addresse de facturation
                            {% elseif lg == 'en' %}
                                Billing address
                            {% endif %}
                        </span>
                    </p>
                    <p class="fs-1">
                        {{ user.addressStreet }}<br>
                        {{ user.addressZipCode }} {{ user.addressCity }}<br>
                        {{ user.addressCountry }}
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-12">

                <h2 class="edwardian" style="font-size: 3vw">
                    {% if lg == 'fr' %}
                        Actions
                    {% elseif lg == 'en' %}
                        Actions
                    {% endif %}

                </h2>
                <div class="account-button-container">
                    <div>
                        <a href="{{ path('change_infos') }}">
                            <button type="button" class="btn btn-dark my-2">
                                {% if lg == 'fr' %}
                                    Modifier les informations
                                {% elseif lg == 'en' %}
                                    Change data
                                {% endif %}
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('change_password') }}">
                            <button type="button" class="btn btn-dark my-2">
                                {% if lg == 'fr' %}
                                    Changer mon mot de passe
                                {% elseif lg == 'en' %}
                                    Change password
                                {% endif %}

                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('my_orders') }}">
                            <button type="button" class="btn btn-dark my-2">
                                {% if lg == 'fr' %}
                                    Mes commandes
                                {% elseif lg == 'en' %}
                                    My orders
                                {% endif %}
                            </button>
                        </a>
                    </div>
               </div>




        </div>

    </div>



</div>


{% endblock %}

{% block javascripts %}

{% endblock %}

