
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Charlotte'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/charlotte.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'CoquilleSaintJacques'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/st_jacques.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Soupe'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/soupe.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Velouté'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/veloute.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Risotto'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/risotto.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Huîtres'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/huitres.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Lotte'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/lotte.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Poireaux'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/poireaux.jpg') }}">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Granité'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/granite.jpg') }}">
            </a>
        </div>
    </div>

