
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Charlotte'}) }}" >
                <img style="width: 100%; height: 100%;" src="{{ asset('ressource/image/food/charlotte.jpg') }}" alt="food : charlotte à la framboise">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'CoquilleSaintJacques'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/st_jacques.jpg') }}" alt="food : coquilles St-Jacques">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Soupe'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/soupe.jpg') }}" alt="food : soupe">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Veloute'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/veloute.jpg') }}" alt="food : velouté">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Risotto'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/risotto.jpg') }}" alt="food : risotto">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Huitres'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/huitres.jpg') }}" alt="food : huîtres">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Lotte'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/lotte.jpg') }}" alt="food : lotte">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Poireaux'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/poireaux.jpg') }}" alt="food : poireaux">
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ path('gastronomie', {'plat': 'Granite'}) }}" >
                <img style="width: 100%;" src="{{ asset('ressource/image/food/granite.jpg') }}" alt="food : granité">
            </a>
        </div>
    </div>

