<div>
    <div style="width: 30vw; height: 30vw" class="m-auto">
        <div style="display: flex;width: 100%; height: calc(100% / 3);">
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Charlotte'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/charlotte.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'CoquilleSaintJacques'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/st_jacques.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Soupe'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/soupe.jpg') }}">
                </a>
            </div>
        </div>
        <div style="display: flex;width: 100%; height: calc(100% / 3);">
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Velouté'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/veloute.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Risotto'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/risotto.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Huîtres'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/huitres.jpg') }}">
                </a>
            </div>
        </div>
        <div style="display: flex;width: 100%; height: calc(100% / 3);">
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Lotte'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/lotte.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Poireaux'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/poireaux.jpg') }}">
                </a>
            </div>
            <div style="width: calc(100% / 3); height: 100%;">
                <a href="{{ path('gastronomie', {'plat': 'Granité'}) }}" style="width: 100%; height: 100%;">
                    <img style="width: 100%;" src="{{ asset('ressource/image/food/granite.jpg') }}">
                </a>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>

</div>