{% extends 'base.html.twig' %}

{% block content %}

    <div class="maison-slide1 container-fluid relpos">
        <div style="position: absolute; left: 10%; bottom: 10%;">
            <p class="segoe text-white">
                Histoire d'un famille au service du vin depuis plus d'un siècle...
            </p>
        </div>
    </div>
    <nav id="maison-nav" style="width: 100vw;">
        <ul class="maison-list" style="width: 100vw">
            <li class="px-3"><a style="font-size: 1vw;" href="#Histoire">Histoire d'un passion partagée</a></li>
            <li class="px-3"><a style="font-size: 1vw;" href="#Why">Pourquoi Philippe de Sorbon ?</a></li>
            <li class="px-3"><a style="font-size: 1vw;" href="#Origines">Origines du mythe Champagne</a></li>
        </ul>
    </nav>

    <div class="container-fluid text-center my-2">

        <div class="segoe font-weight-bold active my-3 fs-12">
            "LE CHAMPAGNE NOUS REVELE A NOUS-MEMES ET AUX AUTRES.
            IL NOUS MET EN EFFERVESCENCE"
        </div>
        <div class="edwardian active my-3 fs-12 w-75 ml-auto">Auguste Tétard  - Fondateur des champagnes Philippe de Sorbon</div>
    </div>


    <div class="maison-slide2"></div>
    <div class="container-fluid text-center py-3" id="Histoire">
        <h2 class="my-3">Histoire d'une passion partagée</h2>
        <div class="row fs-08">
            <div class="col-md relpos">
                <img class="center-div" style="width: 25vw;" src="{{ asset('ressource/image/maison/Auguste-TETARD.jpg') }}">
            </div>
            <div class="col-md">
                <h6>1922</h6>
                <p>
                    Maximilien TETARD, son fils, lui
                    succède et, 60 ans durant,
                    consacre sa vie à son affaire. Fin
                    dégustateur, il imprime à sa
                    Maison une réputation de sérieux
                    et de qualité.
                </p>
            </div>
            <div class="col-md relpos">
                <img style="width: 25vw" class="center-div" src="{{ asset('ressource/image/maison/Nicole-LATHUILLIERE-TETARD.jpg') }}">
            </div>
            <div class="col-md">
                <h6>1989</h6>
                <p>
                    4ème génération: Martine WALLAERT-
                    LATHUILLIERE, responsable de la
                    Maison, partage la passion de ses
                    ancêtres et demeurent très attachés à
                    l’élaboration traditionnelle des
                    Champagnes Philippe de Sorbon
                </p>
            </div>
        </div>
        <div class="row fs-08">
            <div class="col-md relpos">
                <div class="center-div w-100">
                    <h6>1901</h6>
                    <p>
                        Auguste TETARD quitte sa Creuse natale
                        et s’installe en Champagne, il est marchand de vins.
                    </p>
                </div>
            </div>
            <div class="col-md relpos">
                <img style="width: 25vw" class="center-div" src="{{ asset('ressource/image/maison/Maximilien-TETARD.jpg') }}">
            </div>
            <div class="col-md">
                <h6>1968</h6>
                <p>
                    Nicole LATHUILLIERE-TETARD, sa petite-fille,
                    acquiert des vignes à Verzenay,
                    Grand Cru, fleuron de la Champagne.
                    Oenologue, elle continue le développement de l’entreprise
                    familiale et assure une qualité constante de ses Champagnes
                </p>
            </div>
            <div class="col-md relpos">
                <img style="width: 25vw" class="center-div" src="{{ asset('ressource/image/maison/Martine-WALLAERT-LATHUILLIERE.jpg') }}">
            </div>
        </div>

        <div class="segoe fs-12 font-weight-bold container p-5">
            <p>dont 50 000 bouteilles sont appréciées
                chaque année par de nombreux amateurs avertis.
            </p>
            <p>...la cinquième génération est encore sur
                les bancs de l’école… mais participe avec
                enthousiasme depuis plusieurs années aux
                vendanges.
            </p>
        </div>


    </div>
    <div class="maison-slide3">


    </div>
    <div style="height: 2000px;">

        <div class="bg-grey-cs m-5 p-3 segoe" id="Why" style="display: flex;">
            <div class="w-25 relpos">
                <img class="center-div" style="width: 150px; border-radius: 1000px;" src="{{ asset('ressource/image/maison/Robert-SORBON.jpg') }}">
            </div>
            <div class="w-75 text-center text-white fs-08">
                <h4>Pourquoi Philippe de Sorbon ?</h4>
                <p>Travaillant dans les « galipes » (vignes, en patois champenois)
                    depuis l’âge de 12 ans, notre grand-père Maximilien TETARD rêvait
                    d’étudier et d’aller à l’Université. Il était un fervent admirateur
                    de Robert de SORBON, enfant du pays Champenois, fondateur au XIIIème
                    siècle de la SORBONNE qui offrait aux enfants pauvres l’accès au Savoir.
                </p>
                <p>Aussi, a-t-il rendu hommage à cet érudit religieux exceptionnel,
                    en donnant son nom aux Champagnes qu’il élaborait avec amour.
                </p>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/maison.js') }}"></script>
{% endblock %}