{% extends 'base.html.twig' %}

{% block content %}

    <div class="maison-slide1 relpos">
        <div style="position: absolute; left: 10%; bottom: 10%;" class="text-center">
            <h1 class="segoe text-white fs-12 font-weight-normal">
                Histoire d'une famille au service du vin<br> depuis plus d'un siècle...
            </h1>
        </div>
    </div>
    <nav id="maison-nav" class="sticky-nav-sec z-index-nav-sec">
        <ul class="maison-list justify-content-around fs-1" >
            <li class="px-3"><a href="#Histoire">Histoire d'un passion partagée</a></li>
            <li class="px-3"><a href="#Why">Pourquoi Philippe de Sorbon ?</a></li>
            <li class="px-3"><a href="#Origines">Origines du mythe Champagne</a></li>
        </ul>
    </nav>

    <div class="container-fluid text-center py-4">

        <div class="segoe font-weight-bold active my-4 fs-13">
            "LE CHAMPAGNE NOUS REVELE A NOUS-MEMES ET AUX AUTRES.<br>
            IL NOUS MET EN EFFERVESCENCE"
        </div>
        <div class="edwardian active my-3 fs-15 w-75 ml-auto">Auguste Tétard  - Fondateur des champagnes Philippe de Sorbon</div>
    </div>


    <div class="maison-slide2"></div>
    <div class="container text-center py-3 relpos">
        <div id="Histoire" class="anchor">
        </div>
        <h2 class="my-5 pb-3 fs-16">Histoire d'une passion partagée</h2>
        <div class="container-fluid hide-mobile">
            <div class="row fs-08">
                <div class="col-md-3 col-6 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Auguste_TETARD.jpg') }}">
                </div>
                <div class="col-md-3 col-6 py-3">
                    <span class="font-weight-bold">1922</span>
                    <p>
                        Maximilien TETARD, son fils, lui<br>
                        succède et, 60 ans durant,<br>
                        consacre sa vie à son affaire.<br> Fin
                        dégustateur, il imprime à sa<br>
                        Maison une réputation de sérieux<br>
                        et de qualité.
                    </p>

                </div>
                <div class="col-md-3 col-6 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Nicole_LATHUILLIERE_TETARD.jpg') }}">
                </div>
                <div class="col-md-3 col-6 py-3">
                    <span class="font-weight-bold">1989</span>
                    <p>
                        4ème génération: Martine WALLAERT-<br>
                        LATHUILLIERE, responsable de la<br>
                        Maison, partage la passion de ses<br>
                        ancêtres et demeure très attachée à<br>
                        l’élaboration traditionnelle des<br>
                        Champagnes Philippe de Sorbon
                    </p>
                </div>
            </div>
            <div class="row fs-08">
                <div class="col-md-3 col-6 py-3">

                    <span class="font-weight-bold">1901</span>
                    <p>
                        Auguste TETARD quitte sa<br> Creuse natale
                        et s’installe en<br>Champagne, il est marchand<br>de vins.
                    </p>

                </div>
                <div class="col-md-3 col-6 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Maximilien_TETARD.jpg') }}">
                </div>
                <div class="col-md-3 col-6 py-3">
                    <span class="font-weight-bold">1968</span>
                    <p>
                        Nicole LATHUILLIERE-TETARD, sa petite-fille,<br>
                        acquiert des vignes à Verzenay,<br>
                        Grand Cru, fleuron de la Champagne.<br>
                        Oenologue, elle continue le développement<br> de l’entreprise
                        familiale et assure une<br> qualité constante de ses Champagnes
                    </p>
                </div>
                <div class="col-md-3 col-6 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Martine_WALLAERT_LATHUILLIERE.jpg') }}">
                </div>
            </div>
        </div>





        <div style="display: none" class="unhide-mobile">
            <div class="row fs-08">
                <div class="col-4 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Auguste_TETARD.jpg') }}">
                </div>
                <div class="col-8 py-3">
                    <span class="font-weight-bold">1901</span>
                    <p>
                        Auguste TETARD quitte sa<br> Creuse natale
                        et s’installe en<br>Champagne, il est marchand<br>de vins.
                    </p>
                </div>
            </div>
            <div class="row fs-08">
                <div class="col-4 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Maximilien_TETARD.jpg') }}">
                </div>
                <div class="col-8 py-3">
                    <span class="font-weight-bold">1922</span>
                    <p>
                        Maximilien TETARD, son fils, lui<br>
                        succède et, 60 ans durant,<br>
                        consacre sa vie à son affaire.<br> Fin
                        dégustateur, il imprime à sa<br>
                        Maison une réputation de sérieux<br>
                        et de qualité.
                    </p>
                </div>
            </div>
            <div class="row fs-08">
                <div class="col-4 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Nicole_LATHUILLIERE_TETARD.jpg') }}">
                </div>
                <div class="col-8 py-3">
                    <span class="font-weight-bold">1968</span>
                    <p>
                        Nicole LATHUILLIERE-TETARD, sa petite-fille,<br>
                        acquiert des vignes à Verzenay,<br>
                        Grand Cru, fleuron de la Champagne.<br>
                        Oenologue, elle continue le développement<br> de l’entreprise
                        familiale et assure une<br> qualité constante de ses Champagnes
                    </p>
                </div>

            </div>
            <div class="row fs-08">
                <div class="col-4 relpos house-picture">
                    <img class="center-div" src="{{ asset('ressource/image/maison/Martine_WALLAERT_LATHUILLIERE.jpg') }}">
                </div>
                <div class="col-8 py-3">
                    <span class="font-weight-bold">1989</span>
                    <p>
                        4ème génération: Martine WALLAERT-<br>
                        LATHUILLIERE, responsable de la<br>
                        Maison, partage la passion de ses<br>
                        ancêtres et demeure très attachée à<br>
                        l’élaboration traditionnelle des<br>
                        Champagnes Philippe de Sorbon
                    </p>
                </div>
            </div>

        </div>


        <div class="segoe fs-12 font-weight-bold container py-5">
            <p>dont 50 000 bouteilles sont appréciées
                chaque année par de nombreux amateurs avertis.
            </p>
            <p>...la cinquième génération apprend avec
                patience le métier de vigneron et participe depuis
                plusieurs années avec enthousiasme aux travaux
                de la vigne et aux vendanges.
        </div>


    </div>
    <div class="maison-slide3">


    </div>
    <div class="relpos pt-5">

        <div class="bg-grey-cs my-5 p-5 segoe mx-auto"  style="display: flex; width: 80%;">
            <div id="Why" class="anchor">
            </div>
            <div class="w-25 relpos">
                <img class="center-div" style="width: 70%; border-radius: 1000px;" src="{{ asset('ressource/image/maison/Robert_SORBON.jpg') }}">
            </div>
            <div class="w-75 text-center text-white my-4">
                <h2 class="fs-14 mb-4">POURQUOI PHILIPPE DE SORBON ?</h2>
                <p class="fs-1">Travaillant dans les « galipes » (vignes, en patois champenois)
                    depuis l’âge de 12 ans,<br> notre grand-père Maximilien TETARD rêvait
                    d’étudier et d’aller à l’Université. Il était un<br> fervent admirateur
                    de Robert de SORBON, enfant du pays Champenois, fondateur au<br> XIIIème
                    siècle de la SORBONNE qui offrait aux enfants pauvres l’accès au Savoir.
                </p>
                <p class="fs-1">Aussi, a-t-il rendu hommage à cet érudit religieux exceptionnel,
                    en donnant son nom<br> aux Champagnes qu’il élaborait avec amour.
                </p>

            </div>

        </div>
        <div class="text-center my-5 py-3 fc-grey-cs relpos">
            <div id="Origines" class="anchor">
            </div>
            <h2 class="mt-5 mb-2 fs-16">Origines du mythe Champagne</h2>
            <p>
                Une longue et belle histoire d'hommes et de terroirs
            </p>
        </div>
        <div class="container-fluid text-center fc-grey-cs" style=" overflow: hidden" >
            <div class="my-4" style="height: 23vw;">
                <div class="relpos">
                    <div id="slide-container" style=" width: 115vw; display: flex; position: absolute; left: 50%; transform: translateX(-50%)">
                        <div id="pict-1" class="slide-maison" style="width: 23vw; height: 23vw; opacity: 0.5;">
                            <img style="width: 23vw; height: 23vw;" src="{{ asset('ressource/image/maison/slide_1.jpg') }}">
                        </div>
                        <div id="pict-2" class="slide-maison" style="width: 23vw; height: 23vw; opacity: 0.5;">
                            <img style="width: 23vw; height: 23vw;" src="{{ asset('ressource/image/maison/slide_2.jpg') }}">
                        </div>
                        <div id="pict-3" class="slide-maison slide-active" style="width: 23vw; height: 23vw; opacity: 0.5;">
                            <img style="width: 23vw; height: 23vw;" src="{{ asset('ressource/image/maison/slide_3.jpg') }}">
                        </div>
                        <div id="pict-4" class="slide-maison" style="width: 23vw; height: 23vw; opacity: 0.5;">
                            <img style="width: 23vw; height: 23vw;" src="{{ asset('ressource/image/maison/slide_4.jpg') }}">
                        </div>
                        <div id="pict-5" class="slide-maison" style="width: 23vw; height: 23vw; opacity: 0.5;">
                            <img style="width: 23vw; height: 23vw;" src="{{ asset('ressource/image/maison/slide_5.jpg') }}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="m-auto" style="position: relative; width: 50%; height: 50px;">
                <div class="bar" style="position: absolute; width: 100%; height: 1px; background-color: black;">
                </div>
                <div id="circle-1" class="circle">
                </div>
                <div id="circle-2" class="circle">
                </div>
                <div id="circle-3" class="circle  circle-active">
                </div>
                <div id="circle-4" class="circle">
                </div>
                <div id="circle-5" class="circle">
                </div>
                <div class="date-1 active font-weight-bold"  style="position:absolute;left: 0%; top: 50%; transform: translate(-50%,-50%)">
                    III
                </div>
                <div class="date-1 active font-weight-bold" style="position:absolute;left: 25%; top: 50%; transform: translate(-50%,-50%)">
                    XIII
                </div>
                <div class="date-1 active font-weight-bold" style="position:absolute;left: 50%; top: 50%; transform: translate(-50%,-50%)">
                    XVII
                </div>
                <div class="date-1 active font-weight-bold" style="position:absolute;left: 75%; top: 50%; transform: translate(-50%,-50%)">
                    XVIII
                </div>
                <div class="date-1 active font-weight-bold" style="position:absolute;left: 100%; top: 50%; transform: translate(-50%,-50%)">
                    XIX
                </div>
            </div>
            <div class="w-75 m-auto text-center">
                <div id="anim-txt-1" class="anim-txt">
                    <p>
                        On retrouve trace de vignobles en<br> Champagne, campania en latin,
                        dès<br> l’époque Romaine, mais ce sont<br> indéniablement les religieux
                        qui au<br> Moyen-Age développeront les vins<br> tranquilles de Champagne.
                    </p>
                </div>
                <div id="anim-txt-2" class="anim-txt display-none">
                    <p>
                        Au XIIIème, la culture de la vigne se généralise, les<br> métayers
                        obtiennent des terres en contrepartie<br> d’une « tenure à vinage »,
                        c’est-à-dire l’obligation<br> de fournir en vins leurs seigneurs, les
                        Comtes de<br> Champagne. Affirmant leur réputation au XVIème<br> siècle,
                        ces vins clairs champenois rivalisent avec<br> les Bourgognes sur les tables royales.
                    </p>
                </div>
                <div id="anim-txt-3" class="anim-txt display-none">
                    <p>
                        La fin du XVIIème voit la naissance des premiers<br>
                        flacons et l’apparition d’un pétillement spontané<br> des vins alors inexpliqué.
                    </p>
                    <p>

                        Dom Pérignon, cellérier de l’Abbaye d’Hautvillers,<br> ainsi que le frère Oudard,
                        s’intéressent à cette<br> deuxième fermentation des vins qu’ils<br> sélectionnent et
                        assemblent avec amour.<br> Ils obtiennent un vin clair à la mousse persistante :<br>
                        <span class="font-weight-bold">Le Champagne est né...</span>
                    </p>
                </div>
                <div id="anim-txt-4" class="anim-txt display-none">
                    <p>
                        Le développement commercial commence à la<br> fin du XVIIIème
                        siècle grâce à l’apparition de<br> « flacons » plus résistants
                        et à une meilleure<br> maîtrise de la prise de mousse.
                    </p>
                </div>
                <div id="anim-txt-5" class="anim-txt display-none">
                    <p>
                        Au XIXème siècle, le monde entier<br> s’enthousiasme.<br><br>
                        <span class="font-weight-bold">le Vin des Rois devient Roi des Vins</span><br><br>
                        et le Champagne n’aura plus qu’un seul but...<br><br>
                        <span class="font-weight-bold">faire de chaque instant une fête.</span><br>
                    </p>
                </div>
            </div>

        </div>

        <div class="text-center my-5">
            <div class="segoe font-weight-bold active my-3 fs-14">
                "VENEZ MES FRERES, JE BOIS DES ETOILES"
            </div>
            <div class="edwardian active my-3 fs-14 w-75 ml-auto">Dom Pérignon</div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/maison.js') }}"></script>
{% endblock %}