{% extends 'base.html.twig' %}

{% block content %}

    <div class="maison-slide1 container-fluid relpos">
        <div id="fadein-trigger" style="position: absolute; left: 10%; bottom: 10%;">
            <h1 class="segoe text-white fs-12">
                Histoire d'un famille au service du vin depuis plus d'un siècle...
            </h1>
        </div>
    </div>
    <nav id="maison-nav" class="sticky-nav-sec z-index-nav-sec">
        <ul class="maison-list justify-content-around fs-1" >
            <li class="px-3"><a href="#Histoire">Histoire d'un passion partagée</a></li>
            <li class="px-3"><a href="#Why">Pourquoi Philippe de Sorbon ?</a></li>
            <li class="px-3"><a href="#Origines">Origines du mythe Champagne</a></li>
        </ul>
    </nav>

    <div class="container-fluid text-center my-2">

        <div class="segoe font-weight-bold active my-4 fs-12">
            "LE CHAMPAGNE NOUS REVELE A NOUS-MEMES ET AUX AUTRES.<br>
            IL NOUS MET EN EFFERVESCENCE"
        </div>
        <div class="edwardian active my-3 fs-14 w-75 ml-auto">Auguste Tétard  - Fondateur des champagnes Philippe de Sorbon</div>
    </div>


    <div class="maison-slide2"></div>
    <div class="container text-center py-3" id="Histoire">
        <h2 class="my-3">Histoire d'une passion partagée</h2>
        <div class="row fs-08">
            <div class="col-md-3 col-6 relpos house-picture">
                <img class="center-div" src="{{ asset('ressource/image/maison/Auguste_TETARD.jpg') }}">
            </div>
            <div class="col-md-3 col-6">
                <span>1922</span>
                <p>
                    Maximilien TETARD, son fils, lui
                    succède et, 60 ans durant,
                    consacre sa vie à son affaire. Fin
                    dégustateur, il imprime à sa
                    Maison une réputation de sérieux
                    et de qualité.
                </p>

            </div>
            <div class="col-md-3 col-6 relpos house-picture">
                <img class="center-div" src="{{ asset('ressource/image/maison/Nicole_LATHUILLIERE_TETARD.jpg') }}">
            </div>
            <div class="col-md-3 col-6">
                <span>1989</span>
                <p>
                    4ème génération: Martine WALLAERT-
                    LATHUILLIERE, responsable de la
                    Maison, partage la passion de ses
                    ancêtres et demeurent très attachés à
                    l’élaboration traditionnelle des
                    Champagnes Philippe de Sorbon
                </p>
            </div>
        </div>
        <div class="row fs-08">
            <div class="col-md-3 col-6">

                <span>1901</span>
                <p>
                    Auguste TETARD quitte sa Creuse natale
                    et s’installe en Champagne, il est marchand de vins.
                </p>

            </div>
            <div class="col-md-3 col-6 relpos house-picture">
                <img class="center-div" src="{{ asset('ressource/image/maison/Maximilien_TETARD.jpg') }}">
            </div>
            <div class="col-md-3 col-6">
                <span>1968</span>
                <p>
                    Nicole LATHUILLIERE-TETARD, sa petite-fille,
                    acquiert des vignes à Verzenay,
                    Grand Cru, fleuron de la Champagne.
                    Oenologue, elle continue le développement de l’entreprise
                    familiale et assure une qualité constante de ses Champagnes
                </p>
            </div>
            <div class="col-md-3 col-6 relpos house-picture">
                <img class="center-div" src="{{ asset('ressource/image/maison/Martine_WALLAERT_LATHUILLIERE.jpg') }}">
            </div>
        </div>

        <div class="segoe fs-12 font-weight-bold container p-5">
            <p>dont 50 000 bouteilles sont appréciées
                chaque année par de nombreux amateurs avertis.
            </p>
            <p>...la cinquième génération est encore sur
                les bancs de l’école… mais participe avec
                enthousiasme depuis plusieurs années aux
                vendanges.
            </p>
        </div>


    </div>
    <div class="maison-slide3">


    </div>
    <div>

        <div class="bg-grey-cs my-5 p-3 segoe mx-auto" id="Why" style="display: flex; width: 80%;">
            <div class="w-25 relpos">
                <img class="center-div" style="width: 190px; border-radius: 1000px;" src="{{ asset('ressource/image/maison/Robert_SORBON.jpg') }}">
            </div>
            <div class="w-75 text-center text-white">
                <h2 class="fs-14">Pourquoi Philippe de Sorbon ?</h2>
                <p class="fs-1">Travaillant dans les « galipes » (vignes, en patois champenois)
                    depuis l’âge de 12 ans, notre grand-père Maximilien TETARD rêvait
                    d’étudier et d’aller à l’Université. Il était un fervent admirateur
                    de Robert de SORBON, enfant du pays Champenois, fondateur au XIIIème
                    siècle de la SORBONNE qui offrait aux enfants pauvres l’accès au Savoir.
                </p>
                <p class="fs-1">Aussi, a-t-il rendu hommage à cet érudit religieux exceptionnel,
                    en donnant son nom aux Champagnes qu’il élaborait avec amour.
                </p>

            </div>

        </div>
        <div class="text-center my-5 fc-grey-cs">
            <h2 class="my-3">Origines du mythe Champagne</h2>
            <p>
                Une longue et belle histoire d'hommes et de terroirs
            </p>
        </div>
        <div id="Origines" class="container text-center fc-grey-cs" style="height: 60vh;">
            <div class="my-4">
                <img id="anim-picture" style="width: 200px; height: auto; border-radius: 10px;" src="{{ asset('ressource/image/maison/slide_1.jpg') }}">
            </div>
            <div class="m-auto" style="position: relative; width: 50%; height: 50px;">
                <div class="bar" style="position: absolute; width: 100%; height: 1px; background-color: black;">

                </div>
                <div id="circle-1" class="circle">

                </div>
                <div id="circle-2" class="circle">

                </div>
                <div id="circle-3" class="circle">

                </div>
                <div id="circle-4" class="circle">

                </div>
                <div id="circle-5" class="circle">

                </div>
            </div>
            <div class="w-75 m-auto text-center">
                <div id="anim-txt-1" class="anim-txt">
                    <p>
                        On retrouve trace de vignobles en Champagne, campania en latin,
                        dès l’époque Romaine, mais ce sont indéniablement les religieux
                        qui au Moyen-Age développeront les vins tranquilles de Champagne.
                    </p>
                </div>
                <div id="anim-txt-2" class="anim-txt display-none">
                    <p>
                        Au XIIIème, la culture de la vigne se généralise, les métayers
                        obtiennent des terres en contrepartie d’une « tenure à vinage »,
                        c’est-à-dire l’obligation de fournir en vins leurs seigneurs, les
                        Comtes de Champagne. Affirmant leur réputation au XVIème siècle,
                        ces vins clairs champenois rivalisent avec les Bourgognes sur les tables royales.
                    </p>
                </div>
                <div id="anim-txt-3" class="anim-txt display-none">
                    <p>
                        La fin du XVIIème voit la naissance des premiers
                        flacons et l’apparition d’un pétillement spontané des vins alors inexpliqué.

                        Dom Pérignon, cellérier de l’Abbaye d’Hautvillers, ainsi que le frère Oudard,
                        s’intéressent à cette deuxième fermentation des vins qu’ils sélectionnent et
                        assemblent avec amour. Ils obtiennent un vin clair à la mousse persistante :<br>
                        <span class="font-weight-bold">Le Champagne est né...</span>
                    </p>
                </div>
                <div id="anim-txt-4" class="anim-txt display-none">
                    <p>
                        Le développement commercial commence à la fin du XVIIIème
                        siècle grâce à l’apparition de « flacons » plus résistants
                        et à une meilleure maîtrise de la prise de mousse.
                    </p>
                </div>
                <div id="anim-txt-5" class="anim-txt display-none">
                    <p>
                        Au XIXème siècle, le monde entier s’enthousiasme.<br>
                        <span class="font-weight-bold">le Vin des Rois devient Roi des Vins</span><br>
                        et le Champagne n’aura plus qu’un seul but...<br>
                        <span class="font-weight-bold">faire de chaque instant une fête.</span><br>
                    </p>
                </div>
            </div>

        </div>

        <div class="text-center my-2">
            <div class="segoe font-weight-bold active my-3 fs-12">
                "VENEZ MES FRERES, JE BOIS DES ETOILES"
            </div>
            <div class="edwardian active my-3 fs-12 w-75 ml-auto">Dom Pérignon</div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/maison.js') }}"></script>
{% endblock %}