<div class="py-5 container-fluid" style="background-color: black; display: flex;">
    <div style="width: 60%;" class="text-center">
        <div class="text-white my-5 fs-16 font-weight-bold">
            {% if lg == 'fr' %}
                Les Classiques
            {% elseif lg == 'en' %}
                The Classics
            {% endif %}
        </div>
        <div class="row no-gutters">
            {% for champagne in champagneClassique %}
                <div class="col-md-3 col-6 bottle-col">
                    <div>
                        <a class="links-std champagne-bottle" style="display: block" href="{{ path('champagne_show', {'id' : champagne.urlLink}) }}">
                            <img style="height : 350px" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="picture of the champagne bottle"><br>
                            <div class="py-3 text-white segoe" style="opacity: 0.6;">
                                {{ champagne.name }}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div style="width: 40%;" class="text-center">
        <div class="text-white my-5 fs-16 font-weight-bold">
            {% if lg == 'fr' %}
                La Collection
            {% elseif lg == 'en' %}
                The Collection
            {% endif %}
        </div>
        <div class="row no-gutters">
            {% for champagne in champagneCollection %}
                <div class="col-md-6 col-md-offset-0 col-8 mx-auto bottle-col">
                    <div>
                        <a class="links-std champagne-bottle" style="display: block;" href="{{ path('champagne_show', {'id' : champagne.urlLink}) }}" >
                            <img  style="height : 350px" src="{{ asset("ressource/uploads/") ~ champagne.photoBouteille  }} " alt="picture of the champagne bottle">
                            <div class="py-3 text-white segoe" style="opacity: 0.6;">
                                {{ champagne.name }}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>