{% extends 'base.html.twig' %}

{% block content %}
    <div class="forgot-pass-bg text-center  py-5">
        <div class="checkout-container bg-white my-5 p-5 mx-auto" style="border: 1px solid black;">
            <h1 class="edwardian fs-16 active">
                {% if lg == 'fr' %}
                    Récupération de mot de passe
                {% elseif lg == 'en' %}
                    Password recovery
                {% endif %}

            </h1>
            <p>
                {% if lg == 'fr' %}
                    Veuillez indiquer votre adresse mail, nous vous enverrons un message de récupération dans
                    les plus brefs délais
                {% elseif lg == 'en' %}
                    Please enter your Email, you will receive a message as soon as possible (please check your spam)
                {% endif %}

            </p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            {% if error is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if success is defined %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
