{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid" style="height: calc(100vh - 300px)">
        {% if error is defined %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success is defined %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <div class="container p-5 change-pass text-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6 col-12">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col-md-6 col-12">
                    {{ form_row(form.plainPassword.second) }}
                </div>

            </div>
            {{ form_end(form) }}
        </div>



    </div>


{% endblock %}