{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid" style="height: calc(100vh - 300px)">
        {% if error is defined %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success is defined %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


    </div>


{% endblock %}