{% extends 'base.html.twig' %}

{% block content %}
    <div class="register1 py-5">
        <div class="container text-center">
            <h1 class="edwardian register-title text-white ">Devenez Membre</h1>
            {% if error is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.civility) }}
                </div>
                <div class="col">
                    {{ form_row(form.addressStreet) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col">
                    {{ form_row(form.addressZipCode) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col">
                    {{ form_row(form.addressCity) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.email) }}
                </div>
                <div class="col">
                    {{ form_row(form.addressCountry) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col">
                    {{ form_row(form.phoneNumber) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>

            <button class="pointer" type="submit">S'inscrire</button>
            {{ form_end(form) }}
        </div>
        <div class="text-center">
            <a class="text-white" href="{{ path('login') }}">Si vous êtes déjà membre, cliquez ici.</a>
        </div>
    </div>
    <div class="register2 text-center py-5">
            <div class="text-white edwardian register-title">
                De nos celliers à vos caves
            </div>
            <div class="font-weight-bold text-white segoe register-subtitle">
                LIVRAISON A DOMICILE
            </div>
            <div class="text-white text-center register-subtitle">
                Bénéficiez d'un service personnalisé pour vous et pour vos proches
            </div>
    </div>
    <div class="register3 text-center py-5">
            <div class="edwardian register-title">
                Des expériences uniques
            </div>
            <div class="font-weight-bold segoe register-subtitle">
                Suivez nous au fil des saisons
            </div>
            <div class="text-center register-subtitle">
                Tenez vous informé
            </div>
    </div>




{% endblock %}