<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <p>
        Bonjour {{ client.civility }} {{ client.firstName }} {{ client.lastName }},<br><br>
        Merci d'avoir passé commande auprès de notre maison.<br>
        Nous allons vous contacter prochainement pour effectuer le virement bancaire.
        Vous pouvez suivre cette commande en <a href="{{ path('compte') }}">vous connectant à votre compte.</a><br><br>
        Si vous avez des questions ou besoin d'autres informations, n'hésitez pas à nous contacter<br>
        soit au 06 48 88 87 02 soit par mail wallaert@champagne-philippedesorbon.com.<br><br>

        Contenu de la commande :<br>
    <ul>
        {% for line in orderContent %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul><br>
    Prix total : {{ totalPrice }} &euro;<br>
    </p>
</div>
<div class="text-center">
    <p>
        Merci pour votre confiance<br>
        En vous souhaitant d'agréables dégustations.<br><br>

        Champagne Philippe de Sorbon<br>
        Vous avez une question ? Besoin d'un conseil ? Contactez -nous :<br>
        Par téléphone : 03 26 40 54 66<br>
        Par email : wallaert@champagne-philippedesorbon.com<br>
        www.champagne-philippedesorbon.com
    </p>
</div>
</body>

</html>

