<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Champagne Philippe de Sorbon</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="Présentation et actualité de la Maison située à Reims. Histoire du domaine, Cuvées, Savoir-faire et recettes. Vente en direct des celliers.">
    <meta name="keywords" content="champagne,producteur,maison de champagne,reims,récoltant,philippe,sorbon,philippe de sorbon,wallaert,lathuillière,viticulteur,carte,or,noire,verzenay,cuvée,www.philippedesorbon.tk">
    <meta name="google-site-verification" content="zRY-3LNFtXpyVrlcHxgFgrWEg-8G5FI2Va9UIkb8AqA" />
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="icon" href="{{ asset('ressource/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

</head>
<body>
<div id="header">
    <div style="height: 200px; background-color: white">
    <div class="text-center" style="display: flex; width: 100%;position: relative">
        <a href="{{ path('index') }}" class="m-auto">
            <img class="m-auto" id="big-picture" style="display: block;width: 210px;" src="{{ asset('ressource/image/header/titre.jpg') }}">
        </a>
        


    </div>
    <div class="text-center edwardian">
        <span class="fs-18">Maison fondée à Reims en 1968</span>
    </div>
    </div>
    <div id="fixed-hd"  class="bg-white text-center" style="position: fixed; top: -70px;left: 0; right: 0; z-index: 1000;">
        <a href="{{ path('index') }}">
            <img class="m-auto" id="sm-picture" style="width: 50px; padding-top: 5px;" src="{{ asset('ressource/image/header/logo_fleur_lys.jpg') }}">
        </a>
    </div>


    <div class="void-fill" style="display: none; height: 50px;"></div>
    <nav id="header-nav" class="hd-nav" style="z-index: 1010; top: 0;left: 0; right: 0; height: 50px">
        <ul class="header-list justify-content-around">
            <li><a id="LaMaison" href="{{ path('maison') }}">LA MAISON</a></li>
            <li><a id="SavoirFaire" href="{{ path('savoirfaire') }}">LE SAVOIR-FAIRE</a></li>
            <li><a id="Champagnes" href="{{ path('champagnes') }}">LES CHAMPAGNES</a></li>
            <li><a id="Vignoble" href="{{ path('vignoble') }}">LE VIGNOBLE</a></li>
            <li><a id="Boutique" href="{{ path('boutique') }}">ACHETER EN LIGNE</a></li>
        </ul>
    </nav>
</div>




{% block content %}
{% endblock %}


<div id="footer">
    <nav id="footer-nav">
        <ul class="footer-list justify-content-around">
            <li><a href="{{ path('mentionslegales') }}">MENTIONS LEGALES</a></li>
            <li><a href="{{ path('contact') }}">NOUS CONTACTER</a></li>
            <li><a href="#">FR | EN | ES | DE</a></li>
        </ul>
    </nav>
</div>
<div id="age-verification" style="position:fixed; top: 0;width: 100vw; height: 100vh; background-color: #2E2B2B; opacity: 0.95;z-index: 3000; display: none;">
    <div class="text-center w-50" style="position:fixed; top: 70%; transform:translate(-50%,-50%);left: 50%;">
        <p class="active segoe">
            POUR ACCÉDER AU SITE PHILIPPE DE SORBON
        </p>
        <p class="segoe text-white">
            Pour être en mesure de consulter ce site, vous devez
            avoir atteint l'âge légal défini par les lois de votre pays régissant la  consommation d'alcool.
        </p>
        <p class="active segoe">
            SELECTIONNEZ VOTRE PAYS
        </p>
        <div class="select-style" style="height: 50px;">
            <select id="monselect">
                <option val="1" value="valeur1">France</option>
                <option  val="2" value="valeur2" selected>Angleterre</option>
                <option  val="3" value="valeur3">Spain</option>
            </select>
        </div>
        <p class="active segoe">
            Êtes-vous nés avant <span id="limit-date"></span> ?
        </p>
        <div style="height: 50px; display: flex; justify-content: space-around" class="button-container">
            <input id="age-yes" type="button" value="OUI">
            <a href="http://www.google.com">
                NON
            </a>
        </div>
    </div>
</div>

</body>
{% block javascripts %}

{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</html>

