<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Philippe de Sorbon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {#<link rel="icon" href="{{ asset('ressource/favicon.ico') }}" />#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

</head>
<body>
<div id="header">
    <div class="text-center">
        <a href="{{ path('index') }}">
            <img class="m-auto" id="big-picture" style="display: block;width: 210px;" src="{{ asset('ressource/image/header/Titre.jpg') }}">
        </a>
    </div>
    <div id="fixed-hd"  class="bg-white text-center" style="position: fixed; top: -70px;left: 0; right: 0; z-index: 1000;">
        <a href="{{ path('index') }}">
            <img class="m-auto" id="sm-picture" style="width: 50px;" src="{{ asset('ressource/image/header/Logo.jpg') }}">
        </a>
    </div>

    <div class="text-center edwardian">
        <h2 class="fs-12">Maison fondée à Reims en 1968</h2>
    </div>
    <div class="void-fill" style="display: none; height: 50px;"></div>
    <nav id="header-nav" class="hd-nav" style="z-index: 1010; top: 0;left: 0; right: 0; height: 50px;">
        <ul class="header-list justify-content-around">
            <li><a id="LaMaison" href="{{ path('maison') }}">LA MAISON</a></li>
            <li><a id="SavoirFaire" href="{{ path('savoirfaire') }}">LE SAVOIR FAIRE</a></li>
            <li><a id="Champagnes" href="{{ path('champagnes') }}">LES CHAMPAGNES</a></li>
            <li><a id="Vignoble" href="{{ path('vignoble') }}">LE VIGNOBLE</a></li>
            <li><a id="Boutique" href="{{ path('boutique') }}">ACHETER EN LIGNE</a></li>
        </ul>
    </nav>
</div>




{% block content %}
{% endblock %}


<div id="footer">
    <nav>
        <ul class="footer-list justify-content-around">
            <li><a href="{{ path('mentionslegales') }}">MENTIONS LEGALES</a></li>
            <li><a href="{{ path('contact') }}">NOUS CONTACTER</a></li>
            <li><a href="#">FR | EN | ES | DE</a></li>
        </ul>
    </nav>
</div>

</body>
{% block javascripts %}

{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</html>

