<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Philippe de Sorbon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {#<link rel="icon" href="{{ asset('ressource/favicon.ico') }}" />#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
</head>
<body>
<div id="header">
    <div class="text-center">
        <a href="{{ path('index') }}">
            <img style="width: 150px;" src="{{ asset('ressource/image/header/Titre.jpg') }}">
        </a>
    </div>
    <div class="text-center">
        <img width="170px;" src="{{ asset('ressource/image/header/Sous-titre.jpg') }}">
    </div>
    <nav>

        <ul class="header-list">
            <li><a id="LaMaison" href="{{ path('maison') }}">LA MAISON</a></li>
            <li><a id="SavoirFaire" href="{{ path('savoirfaire') }}">LE SAVOIR FAIRE</a></li>
            <li><a id="Champagnes" href="{{ path('champagnes') }}">LES CHAMPAGNES</a></li>
            <li><a id="Vignoble" href="{{ path('vignoble') }}">LE VIGNOBLE</a></li>
            <li><a id="Boutique" href="{{ path('boutique') }}">ACHETER EN LIGNE</a></li>
        </ul>

    </nav>
</div>




{% block content %}
{% endblock %}

<div id="footer">

</div>
</div>


<div id="footer">
    <nav>
        <ul class="footer-list">
            <li><a href="#">MENTIONS LEGALES</a></li>
            <li><a href="#">NOUS CONTACTER</a></li>
            <li><a href="#">FR | EN | ES | DE</a></li>
        </ul>

    </nav>

</div>

</body>
{% block javascripts %}

{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</html>

